/* footer.module.css */

.footer {
  background-color: #f80a65;
  color: rgb(247, 242, 242);
  padding: 3rem 1rem 0.5rem 1rem;
  text-align: center;
  border-top: 2px dashed white;
}

.footerContent {
  display: grid;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .footerContent {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
  }
}

.footerSection h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footerSection p,
.footerSection ul {
  margin: 0.25rem 0;
  list-style: none;
  padding: 0;
}

.footerSection a {
  color: rgb(253, 249, 249);
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .socialLinks {
    flex-direction: row;
  }
}

.footerBottom {
  margin-top: 2rem;
  font-size: 0.875rem;
  padding: 1rem 0px;
  color: rgb(252, 248, 248);
}
