/* Hero.module.css */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#e70476;
    color: #fcf5f5;
    padding: 10px 70px;
    height: 90vh;
}

.hello {
    font-size: 2rem;
    font-weight: bold;

    animation: fadeIn 1s ease-in-out;
}

.heading{
    
    font-size: 3rem;
    font-weight: 300;
    max-width: 600px;
    animation: fadeIn 1.5s ease-in-out;
}
.subheading {
    font-size: 2.7rem;
    font-weight: 300;
    max-width: 600px;
    animation: fadeIn 1.5s ease-in-out;
}


.left{

    width: 50%;
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.imgBorder{
    border-radius: 53% 47% 49% 51% / 64% 77% 23% 36%;
    background: #1a1919;
height: 300px;
width: 400px;
    position: relative;
    overflow-x: hidden;

}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


