@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* styles/Contact.css */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  display: block;
  margin-top: 10px;
  
}

.contact-form input,
.contact-form textarea {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 1px 1px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background: #555;
}
/* styles/About.css */
.container h2 {
  font-size: 2rem;
  color: #333;
}

.container p {
  font-size: 1.2rem;
  color: #555;
}
/* Contact.css */

.contact-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-main {
  flex-grow: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.contact-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #050505; /* Dark blue */
  margin-bottom: 1rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-card {
  display: flex;
  flex-direction: column;
}

.contact-card label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #0d0d0e;
}

.contact-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.contact-button {
  background-color: #111111;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #1d4ed8;
}
